
.course-card {
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border: 1px solid grey;
    padding: 10px;
    height:50px;
  }
.course-allign{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}