.course-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px
}
.comment-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-input{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.comment-output{
    display: flex;
    flex-direction: column;
}